@import "../styles/variables";

.WorldMapCircle {
  display: inline-flex;
  position: relative;
  svg {
    width: 100%;
    height: auto;
    stroke: $cGrayBg;
    fill: $cGrayBg;
  }

  .circle {
    position: absolute;
    left: 0;
    top: 0;

    circle {
      fill: none;
      stroke-width: 2px;
      stroke: $cBlue;
    }
  }
}
